<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cluemetric</title>
  <base href="/">

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/lib/angular/angular-route.js"></script>
  <script src="/static/lib/angular/angular-resource.js"></script>

  <script src="/static/js/directives.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/filters.js"></script>
  <script src="/static/js/app.js"></script>

  <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
  <script src="/static/lib/D3JS/d3.js"></script>
  <script src="/static/lib/D3JS/d3.min.js"></script>
</head>
<!-- Name of the application --> 
<body ng-app="WebAppStat">
  <div id="header" class="header navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        </button>
        <a class="brand" href="/">Cluemetric</a>
		<a class="brand" href="/#showLogs">Number of logins per day</a>
	    <a class="brand" href="/#showActivities">User profile</a>
      </div>
    </div>
  </div>
  <div class="container page">
    <!-- View,where the content will change,where will be the subpages with there controllers. ALL that is not in the view is static and will be in all the pages --> 
    <div id="content" class="container main" ng-view>
    </div>
    
  </div>
	<footer id="footer" class="footer">
      <div class="footer-left">
        <a href="/">Home</a>
      </div>
      <div class="footer-right">
        <span>&copy; 2016 Cluemetric</span>
      </div>
	</footer>
</body>
</html>
